#!bin/bash
set -a

# APP_PORT=3024 -- hard coded
APP_DOMAIN=localhost
DATABASE_URL=postgres://dev:dev@localhost:5432/level2
# GLOBUS_ADMIN_TOKEN=_____
# SERVICES=MOCK
METADATA_STORE_API_DIR=../dkistdc/metadata-store-api/
METADATA_API=http://internal-api-gateway.service.prod.consul/graphql
SCRATCH_DIR=/Users/seanhess/Data
GLOBUS_CLIENT_ID=5422f0b3-e40d-47b1-8c22-f64b1a1ae38e
GLOBUS_CLIENT_SECRET=ZjHBC9s45yu5LfM08vzYy6p6NliplCjuJrBnnRdeWmY=
GLOBUS_LEVEL2_ENDPOINT=20fa4840-366a-494c-b009-063280ecf70d
GLOBUS_PUBLISH_ENDPOINT=d26bd00b-62dc-40d2-9179-7aece2b8c437
GLOBUS_PUBLISH_DIR="/etc/data1653/L2/"
#DEV_GLOBUS_DKIST_DIR="/Users/seanhess/"
#DEV_GLOBUS_DKIST_DIR=""
NUM_WORKERS=8

# Convenience for psql
PGUSER=dev
PGPASSWORD=dev
PGDATABASE=level2
PGHOST=localhost
PGPORT=54321

set +a
